.instructions-list {
    width: 100%;
    max-width: 640px;
    border-radius: 16px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    padding: 18px;
    margin-top: 10px;
}
.instruction {
    margin: 10px 0;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 400;
    line-height: 1.75;
}

.instructions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.pose-demo-img {
    height: 400px;
    aspect-ratio: 1;
    border-radius: 15px;
}